.categories-wrapper {
    display: flex;
}

.categories-links {
    display: flex;
    min-width: 135px;
    gap: 0 30px;
    align-items: center;
    margin-left: 35px;
}

.categories-links svg {
    vertical-align: text-top;
}

.categories-list {
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
    height: 35px;
    gap: 5px 20px;
}

.categories-list a, p {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    color: #555555;
}

.categories-list svg {
    vertical-align: text-bottom;
    font-size: 16px;
}

.categories-list a:hover {
    text-decoration: underline;
    font-weight: bolder;
}