.footer-list {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 40px;
    margin-top: 100px;
}

.footer-item {
    width: 188px;
}

.footer-item h4 a {
    text-decoration: none;
    color: #767676;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
}


.footer-item p a {
    text-decoration: none;
    color: #767676;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}

.footer-item p a svg {
    font-size: 20px;
}
