.container {
  max-width: 1312px;
  width: 100%;
  margin: auto;
}


.footer-bottom {
  padding: 43px 0;
  border-top: #767676 1px solid;
  text-align: center;
}

.footer-bottom-text a {
  text-decoration: none;
  color: #767676;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 36px;
}